@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Kaisei+Decol:wght@400;500;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General style rules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

/* Header */


/* Main */


/* Footer */

