@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Kaisei+Decol:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General style rules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    font-family: 'Cantarell', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kaisei Decol', serif;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/roulette.webp) no-repeat center center/cover;
    border-bottom: 2px solid #000000;
    padding: 1rem;
}

h1 {
    font-size: 4rem;
    text-align: center;
    border: 2px solid #474747;
    border-radius: 5px;
    padding: 1.3rem 0.5rem 0.5rem 0.5rem;
    background-color: #ffffffcc;
    text-decoration: overline underline;
    margin-top: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 0.2rem;
}

.text-field {
    font-family: 'Kaisei Decol', serif;
    font-weight: 700;
    border: 2px solid #474747;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #ffffffcc;
    text-align: center;
    margin: 0.5rem;
}

/* Main */
main {
    background: url(../images/empty-cocktails.webp) no-repeat center center/cover;
}

h2 {
    font-size: 1.8rem;
    border: 2px solid #474747;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #ffffffcc;
    margin: 1rem;
    text-decoration: underline;
}

.welcome {
    font-size: 1.2rem;
    text-decoration: none;
}

#bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-div {
    border: 2px solid #474747;
    border-radius: 5px;
    padding: 0.5rem;
    width: 15rem;
    margin: 0.5rem;
    background-color: #ffffffcc;
}


.category-div ul {
    padding: 0.2rem 0.2rem 1rem 0.2rem;
    list-style-type: none;
}

input[type="checkbox"] {
    accent-color: #474747;
    transform: scale(1.2);
    margin: 0.4rem;
}

.check-all {
    padding: 0.2rem 0.2rem 1rem 0.2rem;
}

.all-methods {
    border: 2px solid #474747;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: #ffffffcc;
}

.preparation-methods-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}

.preparation-methods-list>li {
    border: 2px solid #474747;
    border-radius: 5px;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    width: 15rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: #ffffffcc;
}

.preparation-methods-list>h3 {
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5% 0 5%;
}

#casino-cocktail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.colors-inverted {
    font-weight: bold;
    color: #ffffff;
    padding: 0.5rem;
    font-family: 'Kaisei Decol', serif;
    align-self: center;
    border: #474747;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    width: fit-content;
    margin: 1.5rem 0 0.5rem 0;
    background-color: #000000;
}

#create-cocktail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create-cocktail-button {
    font-size: 200%;
}

#create-cocktail-button:hover {
    color: #000000;
    border: #474747;
    border-width: 2px;
    border-style: solid;
    background-color: #ffffffcc;
}

.warning {
    font-size: 0.8rem;
    margin: 1rem 5%;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/roulette.webp) no-repeat center center/cover;
    border-top: 2px solid #000000;
}

.social {
    display: flex;
    color: #000000;
    border: 2px solid #474747;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1rem 0.5rem;
    background-color: #ffffffcc;
    justify-content: space-around;
    gap: 1rem;
}

.social-links a {
    color: #000000;
    font-size: 1.5rem;
    margin: 0 1rem;
}