@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Kaisei+Decol:wght@400;500;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General style rules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    font-family: 'Cantarell', sans-serif;
    padding: 5%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kaisei Decol', serif;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main */
#bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.category-div {
    border: 2px solid rgb(71, 71, 71);
    padding: 0.5rem;
    width: 15rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.category-div ul {
    padding: 0 0 0 1.5rem;
}

.check-all {
    padding: 0.2rem 0.2rem 1rem 0.2rem;
}

.preparation-methods-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}

.preparation-methods-list > li {
    border: 2px solid rgb(71, 71, 71);
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    width: 15rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.preparation-methods-list > h3 {
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Footer */

